@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  padding: 50px;
  display: flex;
  flex-flow: wrap;
  font-family: 'Roboto Mono', monospace;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
}
body * {
  box-sizing: border-box;
  font-size: 12px;
}


a {
  font-size: 12px;
  text-decoration: none; }

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

b {
  font-weight: 700;
}

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #ffffff;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
  outline: 10px solid black;
}

.left{
  width: 140px;
  height: 100vh;
  position: absolute;
  float: left;
  font-family: 'Roboto Mono', monospace;

}

.right {
  width: auto;
  float: left;
  margin-top: -18px;
  margin-left: 160px;
  vertical-align: top;
  display: block;
  position: absolute;
  text-align: left;
  font-size: 2;

}

.profile {
  margin-top: 14px;
  vertical-align: top;
  font-size: 2;

}


.work {
  margin-top: -30px;
  vertical-align: top;
  margin-left: 0px;
  font-size: 2;
  text-align: left;

}


.card-container {
  margin: 20px;
  position: relative;
  display: inline-block;
  float: left;
  width: 250px;
}
.card-container .card a {
  padding: 0px;
  width: 250px;
  height: 354px;
  background: black;
  display: inline-block;
  transition: 0.40s ease;
  overflow: hidden;
}
.card-container .card a:hover {
  transform: translate(-10px, -10px);

}
.card-container .card a:hover .card--display {
  display: none;

}
.card-container .card a:hover .card--hover {
  display: inline-block;

}
.card-container .card a .card--display i {
  font-size: 20px;
  margin-top: 0px;
}
.card-container .card a .card--display h2 {
  margin: 0px 0 0;
  display: inline-block;
  font-size: 2;
}
.card-container .card a .card--hover {
  display: none;
  font-size: 2;
}
.card-container .card a .card--hover h2 {
  margin: 5px 0;
  font-size: 2;
}
.card-container .card a .card--hover p {
  font-weight: normal;
  line-height: 2.5;
  font-size: 2;
}
.card-container .card a .card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}
.card-container .card .card--border {
  position: absolute;
  width: 250px;
  height: 354px;
  left: 0;
  top: 0;
  border: 1.5px dashed white;
  z-index: -100;
}
