@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css?family=VT323");

@font-face {
    font-family: 'ApfelGrotezk-Fett';
    src: url('http://eunjinahn.me/sprat-regular-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/sprat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ApfelGrotezk-Fett_light';
    src: url('http://eunjinahn.me/sprat-regularlight-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/sprat-regularlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ApfelGrotezk-Fett';
    src: url('http://eunjinishere.xyz/clt_web/ApfelGrotezk-Fett.woff2') format('woff2'),
         url('http://eunjinishere.xyz/clt_web/ApfelGrotezk-Fett.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ApfelGrotezk-Fett';
    src: url('http://eunjinahn.me/clt_web/ApfelGrotezk-Fett.woff2') format('woff2'),
         url('http://eunjinahn.me/clt_web/ApfelGrotezk-Fett.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'didotmedium_italic';
    src: url('http://eunjinahn.me/didot_light/didot-htf-l06-light-ital-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/didot_light/didot-htf-l06-light-ital-webfont.woff') format('woff');
    -webkit-font-smoothing: antialiased;
    font-weight:100;
}

@font-face {
    font-family: 'montigny_regularregular';
    src: url('http://eunjinahn.me/montigny_web/montigny-regular-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/montigny_web/montigny-regular-webfont.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}

@font-face {
    font-family: 'Necto-Mono';
    src: url('http://eunjinishere.xyz/Necto-Mono.woff2') format('woff2'),
         url('http://eunjinishere.xyz/Necto-Mono.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}

@font-face {
    font-family: 'Porpora-Regular';
    src: url('http://eunjinishere.xyz/Porpora-Regular.woff2') format('woff2'),
         url('http://eunjinishere.xyz/Porpora-Regular.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}

@font-face {
    font-family: 'IgnazioText-Regular';
    src: url('http://eunjinishere.xyz/IgnazioText-Regular.woff2') format('woff2'),
         url('http://eunjinishere.xyz/IgnazioText-Regular.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}



body {
  margin-right: 30px;
  font-weight: 400;
  color: #628bff;
  background: #fff7b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fffcdc, #fff7b3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fffcdc, #fff7b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  font-weight: normal;
  z-index: -100;
  line-height: 1.2em;
  overflow-x: hidden;

}


#cursor {
position: absolute;
z-index: 120;
}

#body {
height: 32px;
width: 32px;
border-radius: 30%/30%;

}

::selection {
  color: #000;
  background: trasparent;
}

.whole {
  position: relative;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background: #fff7b3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fffcdc, #fff7b3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fffcdc, #fff7b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar-track {
        border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #628bff;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.video {
  overflow:hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}


.line {
  display: none;
}
/* On hover, add a grey background color */




a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #628bff;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
}

/* visited link */
a:visited {
color: #628bff;
}


/* selected link */
a:active {
color: #628bff;
}

a:hover {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
  transition: all .5s ease-in-out;
}

.titles {
  font-family:'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
  text-align: left;
  position: relative;
  float: left;
  width: 50%;
  display: inline-block;
  z-index: 80;
}

.titles2 {
  font-family: 'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
  text-align: right;
  float: right;
  position: relative;
  display: inline-block;
  z-index: 80;
}

#b2 {
    font-weight: 700;
    font-size: 16pt;
    font-family: 'ApfelGrotezk-Fett';
}

#b3 {
    font-size: 16pt;
    font-family: 'ApfelGrotezk-Fett';
}

iframe {
  vertical-align: top;
}


.left{
  position: fixed;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 2.1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
  width: 100%;
  height: 20%;
  z-index: 110;
font-family: 'ApfelGrotezk-Fett';
background: -webkit-linear-gradient(to bottom,#cbf7d2, transparent);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom,#cbf7d2, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.des {
  margin-top: 10px;
}



.rotate {
  position: absolute;
    -webkit-animation: rotate 8s linear infinite;
    animation: rotate 4s linear infinite;
    z-index: 100;
    margin-left: 47%;
    margin-top: 5%;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.right_text {
  font-family: 'ApfelGrotezk-Fett';
  color: black;
  font-size: 16pt;
  line-height: 1.2;
  margin-top: 31px;
  margin-left: 20px;
  margin-bottom:50px;
}

.textWithBlur#000;Bg:hover :not(img){
    opacity:1;
  }

.responsive {
  max-width: 100%;
  height: auto;
}

#cursor {
position: absolute;
z-index: 120;
}

#body {
height: 32px;
width: 32px;
border-radius: 30%/30%;

}

#titles {
  font-family:  'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
    color: #628bff;
}

#titles2 {
  font-family:  'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
    color: #628bff;
}


[class*='parrot'] {
  position: absolute;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 120;
}

.parrot-1 {
  background-image: url('http://www.rw-designer.com/icon-image/9450-32x32x32.png');
}

.parrot-2 {
  background-image: url('http://www.rw-designer.com/icon-image/9452-32x32x32.png');
}

.parrot-3 {
  background-image: url('http://www.rw-designer.com/icon-image/10539-32x32x32.png');
}

.parrot-4 {
  background-image: url('http://www.rw-designer.com/icon-image/9456-32x32x32.png');
}

.parrot-5 {
  background-image: url('http://www.rw-designer.com/icon-image/10538-32x32x32.png');
}

.parrot-6 {
  background-image: url('http://www.rw-designer.com/icon-image/10553-32x32x32.png');
}

.parrot-7 {
  background-image: url('http://www.rw-designer.com/icon-image/9451-32x32x32.png');
}

.parrot-8 {
  background-image: url('http://www.rw-designer.com/icon-image/10553-32x32x32.png');
}

.parrot-9 {
  background-image: url('http://www.rw-designer.com/icon-image/10570-32x32x32.png');
}

.parrot-10 {
  background-image: url('http://www.rw-designer.com/icon-image/10569-32x32x32.png');
}


.middle {
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  vertical-align: top;
  z-index: 100;
;
display: inline-block;
width: 100%;
height: 100%;
vertical-align: top;
    overflow: hidden;
      padding-bottom: 40px;
      padding-top: 6em;
}


.bottom {
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  vertical-align: bottom;
display: block;
width: 100%;
    overflow: hidden;
      padding-bottom: 2.2em;
      bottom: 0px;
}

.bright {
  font-family: 'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
  text-align: right;
  float: right;
  display: inline-block;
  z-index: 80;
  color: #628bff;
}

.bleft {
  font-family:'ApfelGrotezk-Fett';
  line-height: 1.2em;
  font-size: 16pt;
  text-align: left;
  float: left;
  width: 50%;
  display: inline-block;
  z-index: 80;
  color: #628bff;
}

.team {
width: 80%;
}

.middle2 {
  padding-left: 0px;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  z-index: -100;
  line-height: 1.2em;
color: #000;
    float: left;
    overflow: hidden;
      padding-bottom: 25px;
      font-family: 'Porpora-Regular';
}

.middle3 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  z-index: -100;
  line-height: 1.2em;
color: #000;
    float: left;
    overflow: hidden;
      padding-bottom: 25px;
      padding-left: 2.5em;
      font-family: 'Porpora-Regular';
}

.middle4 {
  padding-left: 0px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  z-index: -100;
  line-height: 1.2em;
color: #000;
    float: left;
    overflow: hidden;
      padding-bottom: 25px;
      font-family: 'Porpora-Regular';
}

.middle5 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  z-index: -100;
  line-height: 1.2em;
color: #000;
    float: left;
    overflow: hidden;
      padding-bottom: 25px;
      padding-left: 2.5em;
      font-family: 'Porpora-Regular';
}

.scrolltext {
  width: 30%;
  padding-right: 30px;
  height: 100%;
  margin-top: 7px;
  display: inline-block;
    vertical-align: top;
    float: left;
    font-family: 'ApfelGrotezk-Fett';
    color: black;
    font-size: 16pt;
    overflow: hidden;
    line-height: 1.3em;
    position: relative;
}

.responsive {
  height: auto;
  width: auto;
}

.masonry {
  transition: all .5s ease-in-out;
  column-gap: 20px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 20px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}
@media (max-width : 900px) {


  .middle {
    position: relative;
    padding-left: 1.7em;
    padding-right: 1.7em;
    vertical-align: top;
    z-index: 100;
  display: inline-block;
  width: 100%;
  height: 100%;
      overflow: hidden;
        padding-bottom: 25px;
        padding-top: 8em;
  }

  .slideshow-container {
    max-width: 97%;
    display: inline-block;
      vertical-align: top;
    black-space: nowrap;
    position: relative;
    margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;

  }

  #titles {
    font-family:  'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 12pt;
  }

  #titles2 {
    font-family:  'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 12pt;
  }

  #titles3 {
    font-family:  'Porpora-Regular';
    line-height: 1.2em;
    font-size: 12pt;
  }

  .scrolltext {
    width: 50%;
    padding-right: 30px;
    height: 100%;
    margin-top: 7px;
    display: inline-block;
      vertical-align: top;
      float: left;
      font-family: 'ApfelGrotezk-Fett';
      color: black;
      font-size: 16pt;
      overflow: hidden;
      line-height: 1.3em;
      position: relative;
  }

  .left{
    position: fixed;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 2.1em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    width: 100%;
    height: 25%;
    z-index: 110;
  font-family: 'ApfelGrotezk-Fett';
  }



  .team {
  width: 100%;
  }

  .middle3 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    z-index: -100;
    line-height: 1.2em;
  color: #000;
      float: left;
      overflow: hidden;
        padding-bottom: 25px;
        padding-left: 0em;
        font-family: 'Porpora-Regular';
  }

  .titles {
    font-family:'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 14pt;
    text-align: left;
    position: relative;
    float: left;
    width: 70%;
    display: inline-block;
    z-index: 80;
    padding-bottom: 20px;
  }

  .titles2 {
    font-family: 'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 14pt;
    text-align: right;
    float: right;
    position: relative;
    display: inline-block;
    z-index: 80;
  }


  .bottom {
    position: relative;
    padding-right: 1.7em;
    padding-left: 1.7em;
    vertical-align: bottom;
  display: block;
  width: 100%;
      overflow: hidden;
      z-index: 100;
      padding-bottom: 2em;
  }

  .bright {
    font-family: 'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 10pt;
    text-align: left;
    float: left;
    display: inline-block;
    z-index: 80;
    color: #628bff;
  }

  .bleft {
    font-family:'ApfelGrotezk-Fett';
    line-height: 1.2em;
    font-size: 10pt;
    text-align: left;
    float: left;
    width: 70%;
    display: inline-block;
    z-index: 80;
    color: #628bff;

  }


  .middle2 {
    padding-left: 0px;
    display: inline-block;
    width: 75%;
    vertical-align: top;
    z-index: -100;
    line-height: 1.2em;
  color: #000;
      float: left;
      overflow: hidden;
        padding-bottom: 25px;
        font-family: 'Porpora-Regular';
  }
