@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

@font-face {
    font-family: 'ApfelGrotezk-Regular';
    src: url('http://eunjinahn.me/sprat-regular-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/sprat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ApfelGrotezk-Regular_light';
    src: url('http://eunjinahn.me/sprat-regularlight-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/sprat-regularlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ApfelGrotezk-Regular';
    src: url('http://eunjinahn.me/ApfelGrotezk-Regular.woff2') format('woff2'),
         url('http://eunjinahn.me/ApfelGrotezk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'didotmedium_italic';
    src: url('http://eunjinahn.me/didot_light/didot-htf-l06-light-ital-webfont.woff2') format('woff2'),
         url('http://eunjinahn.me/didot_light/didot-htf-l06-light-ital-webfont.woff') format('woff');
    -webkit-font-smoothing: antialiased;
    font-weight:100;
}

@font-face {
    font-family: 'Necto-Mono';
    src: url('http://eunjinishere.xyz/Necto-Mono.woff2') format('woff2'),
         url('http://eunjinishere.xyz/Necto-Mono.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}

@font-face {
    font-family: 'Porpora-Regular';
    src: url('http://eunjinishere.xyz/Porpora-Regular.woff2') format('woff2'),
         url('http://eunjinishere.xyz/Porpora-Regular.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}

@font-face {
    font-family: 'IgnazioText-Regular';
    src: url('http://eunjinishere.xyz/IgnazioText-Regular.woff2') format('woff2'),
         url('http://eunjinishere.xyz/IgnazioText-Regular.woff') format('woff');
         -webkit-font-smoothing: antialiased;
         font-weight:100;
}


[class*='parrot'] {
  position: absolute;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 120;
}

.parrot-1 {
  background-image: url('http://www.rw-designer.com/icon-image/9450-32x32x32.png');
}

.parrot-2 {
  background-image: url('http://www.rw-designer.com/icon-image/9452-32x32x32.png');
}

.parrot-3 {
  background-image: url('http://www.rw-designer.com/icon-image/10539-32x32x32.png');
}

.parrot-4 {
  background-image: url('http://www.rw-designer.com/icon-image/9456-32x32x32.png');
}

.parrot-5 {
  background-image: url('http://www.rw-designer.com/icon-image/10538-32x32x32.png');
}

.parrot-6 {
  background-image: url('http://www.rw-designer.com/icon-image/10553-32x32x32.png');
}

.parrot-7 {
  background-image: url('http://www.rw-designer.com/icon-image/9451-32x32x32.png');
}

.parrot-8 {
  background-image: url('http://www.rw-designer.com/icon-image/10553-32x32x32.png');
}

.parrot-9 {
  background-image: url('http://www.rw-designer.com/icon-image/10570-32x32x32.png');
}

.parrot-10 {
  background-image: url('http://www.rw-designer.com/icon-image/10569-32x32x32.png');
}


body {
  color: black;
background-color: rgb(210, 212, 206);
background-attachment: fixed;
  font-weight: normal;
  overflow-x: hidden;
  z-index: -100;
  font-size: 10pt;
  line-height: 1.2;
}

::selection {
  color: #000;
  background: trasparent;
}

#myBtn2 {
position: fixed;
bottom: 2em;
right: 1.5em;
z-index: 99;
font-size: 18px;
padding: 10px;
background-color: transparent;
border-style: none;
}


.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8 {
  display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  padding-top: 0em;
  padding-left: 2em;
  display: inline-block;
    vertical-align: top;
  black-space: nowrap;
  position: relative;
  margin: auto;
      margin-top: 15px;
      margin-bottom: 3em;

}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-left: 4.8em;
  padding-right: 3em;
  color: white;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.video {
  overflow:hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.slideshow-container:hover .overlay {
  opacity: 1;
  color: white;
}

.title {
font-family: 'didotmedium_italic';
  font-size: 16pt;
}

.line {
  display: none;
}
/* On hover, add a grey background color */




a {
  text-decoration: none;

}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  text-align: center;
  -moz-transition: all 0.1s;
-webkit-transition: all 0.1s;
transition: all 0.1s;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
  color: white;
  transition: all .5s ease-in-out;
}

/* selected link */
a:active {
  color: black;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgb(210, 212, 206);  /* fallback for old browsers */
    }

::-webkit-scrollbar-track {
        border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #000;
}


#titles {
    font-family: 'Porpora-Regular';
  font-size: 18pt;
  line-height: 1.2em;
}

#b2 {
    font-weight: 700;
    font-size: 10pt;
    font-family: 'Necto-Mono';
}

#b3 {
    font-size: 10pt;
    font-family: 'Necto-Mono';
    color: black;
}




.left{
  padding: 3em;
  width: 21%;
  height: 100%;
  position: fixed;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Necto-Mono';
font-size: 10pt;
line-height: 1.2em;
}

.des {
  margin-top: 10px;
  color: black;
}

.rotate {
  position: absolute;
    -webkit-animation: rotate 8s linear infinite;
    animation: rotate 4s linear infinite;
    z-index: 100;
    margin-left: 47%;
    margin-top: 5%;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.right_text {
  font-family: 'Necto-Mono';
  color: black;
  font-size: 10pt;
  line-height: 1.2;
  margin-top: 31px;
  margin-left: 20px;
  margin-bottom:50px;
}

.textWithBlur#000;Bg:hover :not(img){
    opacity:1;
  }

.responsive {
  max-width: 100%;
  height: auto;
}

#cursor {
position: absolute;
z-index: 100;
}
#body {
height: 0px;
width: 0px;
border-radius: 50%/50%;

}


.middle {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  width: 70%;
  vertical-align: top;
  z-index: -100;
;
    float: right;
    overflow: hidden;
      padding-bottom: 2em;
}

.middle2 {
  padding: 0px;
    margin-top: 13px;

  display: inline-block;
  width: 55%;
  vertical-align: top;
  z-index: -100;
;
    float: left;
    overflow: hidden;
    font-family: 'Necto-Mono';
    color: black;
    font-size: 10pt;
    line-height: 1.2em;
}

.x-scroller{
    width: 69%;
    margin-top: 5px;
    display: inline-block;
      vertical-align: top;
    black-space: nowrap;
}

.x-scroller::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.scrolltext {
  width: 80%;
  padding-left: 2em;
  height: 100%;
    vertical-align: top;
    float: left;
    font-family: 'Necto-Mono';
    overflow: hidden;
    line-height: 1.2em;
    position: relative;
}

.responsive {
  height: auto;
  width: auto;
}

@media (max-width : 1000px) {

  .video {
    overflow:hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .left{
    width: 31%;
  }

  .middle {
    width: 55%;
  }

  .slideshow-container {
    max-width: 97%;
    display: inline-block;
      vertical-align: top;
    black-space: nowrap;
    position: relative;
    margin: auto;
        margin-top: 15px;


  }

  .scrolltext {
    width: 100%;
    padding-right: 30px;
    height: 100%;
    margin-top: 7px;
    display: inline-block;
      vertical-align: top;
      float: left;
      font-family: 'Necto-Mono';
      color: black;
      font-size: 10pt;
      overflow: hidden;
      line-height: 1.2em;
      position: relative;
  }


}

@media (max-width : 700px) {

  iframe {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video {
    overflow:hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .left{
    padding: 1em;
    padding-left: 2em;
    margin-top: 1em;
    width: 85%;
    height: 20%;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    font-family: 'Necto-Mono';
    font-size: 10pt;
    line-height: 1.2em;
    float: left;
  }

  .middle {
    padding-left: 0em;
    padding-top: 0em;
    width: 95%;
    position: relative;
    z-index: -100;
    float: left;
      overflow: hidden;
        padding-bottom: 0em;
  }

  .box {
    display: inline-block;
    /* width: 420px; */
    width: 100%;
    height: auto;
    margin: 0px 0px;
    opacity: 1;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    text-align: left;
    -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  }



  .x-scroller{

      width: 100%;
      height: 100%;
        vertical-align: top;
      black-space: nowrap
      display: block;
      position: relative;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  .slideshow-container {
    max-width: 100%;
    display: inline-block;
      vertical-align: top;
    black-space: nowrap;
    position: relative;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 2.5em;
  }

  .scrolltext {
    width: 90%;
    padding-left: 2em;
    height: 100%;
      vertical-align: top;
      float: left;
      font-family: 'Necto-Mono';
      overflow: hidden;
      line-height: 1.2em;
      position: relative;
  }

  #myBtn2 {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  z-index: 99;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  }

}

#cursor {
position: absolute;
}
#body {
height: 20px;
width: 20px;
border-radius: 50%/50%;

}
