@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@font-face {
    font-family: 'moderataserifitalic';
    src: url('http://eunjinishere.xyz/moderat0-webfont.woff2') format('woff2'),
         url('http://eunjinishere.xyz/moderat0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  font-family:'Inconsolata', monospace;
  background-color: white;
color: black;
  }


a-scene {
  z-index: 50;
}

#myVideo {
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
}

.textwriter {
  position: block;
  padding-top: -2%;
padding-left: 4%;
font-family: moderataserifitalic;
z-index: 1000;
}

.next {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  right: 5%;
  float: right;
  bottom: 6%;
  color: white;
  z-index: 100;
}


.title {
  font-family: moderataserifitalic;
    text-align: left;
    font-size: 60pt;
    display: block;
    padding-top: 3%;
    padding-left: 4%;
}

a {
  text-decoration: none;

}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  text-align: center;
  -moz-transition: all 0.1s;
-webkit-transition: all 0.1s;
transition: all 0.1s;
}

/* visited link */
a:visited {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

p {
font-family: moderataserifitalic;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: bold;
  width: 55%;
  z-index: 120;
  position: absolute;
}
/* Animation */
/*p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

p: nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;
   animation: animated-text2 4s steps(29,end) 1s 1 normal both;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* text animation */

/*@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-text2{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

/*@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
